<!DOCTYPE html>
<head>
  <title> {{config.app.title}} </title>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="theme-color" content="#00d1b2">

  <link rel='stylesheet' href="stylesheets/bulma.min.css" />
</head>

<body class="layout-documentation page-columns">
  <nav class="navbar has-shadow is-spaced is-warning" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <div class="hero-body">
        <div class="container">
          <h1 class="title">
            <a href="/">Network Tools</a>
          </h1>
        </div>
      </div>
    </div>
  </nav>
  <div class="container">
