<!DOCTYPE html>
<head>
  <title> {{config.app.title}} </title>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="theme-color" content="#00d1b2">

  <link rel='stylesheet' href="stylesheets/bulma.min.css" />
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
</head>

<body class="layout-documentation page-columns">
  <nav class="navbar has-shadow is-spaced is-light" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <div class='navbar-item'>
        <section class="hero">
        <h1 class="title">
          <a href="/">
            <span>Network Tools</span>
          </a>
        </h1>
        <h2 class="subtitle">
          <a href="https://github.com/boynux/network-tools">
            <span class="icon has-text-info">
              <i class="fab fa-github-square"></i>
            </span>
            <span>Fork me on Github</span>
          </a>
        </h2>
        </section>
      </div>
    </div>
  </nav>
  <div class="container">
